#pro_buy{
  margin-top: 64px;
  width: 100%;
  background-color: #F9F9F9;
  // box-sizing: border-box;
  #buy_body80{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 50px;
    .body_l{
      width: 60%;
      margin-right: 5%;
      #pay-btn{
        margin: 30px auto;
        background-color: #F7882F;
        width: 200px;
        height: 40px;
        border-radius: 15px;
        text-align: center;
        color: white;
        line-height: 39px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
    .body_r{
      width: 35%;
    }
  }
  .success_pay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .5);
    display: flex;
    justify-content: center;
    align-items: center;
    .frame{
      border-radius: 10px;
        width: 300px;
        height: 170px;
        position: relative;
        background-color: rgba($color: #ffffff, $alpha: .85);
        h3{
          text-align: center;
          
        }
        .redirect{
          display: flex;
          justify-content: space-evenly;
        }
    }
  }
}