#pay_type{
  .receipt{
    margin: auto;
    text-align: center;
    // font-size:rem;
    background-color: #AAB0BB;
    border-radius: 1rem;
    width: 90%;
  }
  .sel_pay_type{
    
    .option{
      width: 90%;
      height: 40px;
      background: #fff no-repeat left 10px center ;
      border: 2px solid #B0ABAB;
      margin: 5px auto;
      border-radius: 5px;
      cursor: pointer;
      background-image: url(../../../images/unchecked.png);
      background-size: 20px;
      text-indent: 40px;
      line-height: 34px;
      -webkit-user-select: none;
      -moz-user-select: none;
    }
    .option.checked{
      background-image: url(../../../images/checked.png);
      border: 2px solid #3DB39E;
    }
  }
}