.laccard {
    width: 220px;
}

.lacimg {
    width: 100%;
    height: 150px;
}

.lacclogo {
    width: 50px;
    height: 50px;
}

.lac-circle {
    border-radius: 50%;
    margin-top: -330px;
    margin-left: 15px;
}

.card-text {
    text-align: center;
}

.lac_title {
    margin-top: -50px;
}