.date_style {
    color: firebrick;
    font-size: 20px;
    font-weight: bolder;
}

.name_style {
    color: darkblue;
    font-size: 20px;
    font-weight: bolder;
}

.lao_img {
    width: 265px;
    height: 175px;
}